@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 375px) and (max-height: 667px) {
    .custom-top-terkecil {
      top: 16rem;
    }
  }

  @media (max-width: 360px) and (max-height: 740px) {
    .custom-top-menengah {
      top: 18rem;
    }
  }
  